{% spaceless %}
	<div id="tl_buttons">
		<a href="{{ referer }}" class="header_back" title="{{ _lang.MSC.backBT }}"
		   accesskey="b">{{ _lang.MSC.backBT }}</a>
	</div>

	<h2 class="sub_headline">{{ _lang.avisota_outbox.headline }}</h2>

	{{ messages() }}

	<div class="tl_listing_container list_view">
		<table class="tl_listing showColumns">
			<colgroup>
				<col style="width:50%">
				<col>
				<col style="width:16px;">
			</colgroup>
			<tr>
				<th class="tl_folder_tlist">{{ _lang.avisota_outbox.col_name }}</th>
				<th class="tl_folder_tlist">{{ _lang.avisota_outbox.col_length }}</th>
				<th class="tl_folder_tlist">{{ _lang.avisota_outbox.col_action }}</th>
			</tr>
			{% for index, queue in queues %}
				<tr class="{{ index % 2 == 0 ? 'even' : 'odd' }}" onmouseover="Theme.hoverRow(this,1)" onmouseout="Theme.hoverRow(this,0)">
					<td class="tl_file_list">{{ queue.title }}</td>
					<td class="tl_file_list">{{ queue.length }}</td>
					<td class="tl_file_list">
						{% if queue.length %}
							<a href="contao/main.php?do=avisota_outbox&amp;execute={{ queue.id }}" title="{{ _lang.avisota_outbox.action_execute }}">
								{{ image('system/modules/avisota/assets/images/queue_execute.png') }}
							</a>
						{% else %}
							{{ image('system/modules/avisota/assets/images/queue_execute_.png') }}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endspaceless %}
