{% spaceless %}
	<div id="tl_buttons">
		<a href="{{ referer }}" class="header_back" title="{{ _lang.MSC.backBT }}"
		   accesskey="b">{{ _lang.MSC.backBT }}</a>
	</div>

	<h2 class="sub_headline">{{ _lang.avisota_message_preview.headline }}</h2>

	<div class="tl_listing_container parent_view">
		<div class="tl_header" onmouseover="Theme.hoverDiv(this, 1);" onmouseout="Theme.hoverDiv(this, 0);">
			<div class="tl_content_right">
				<a href="contao/main.php?do=avisota_newsletter&amp;table=orm_avisota_message&amp;act=edit&amp;id={{ message.id }}"
				   accesskey="e" title="{{ _lang.orm_avisota_message.editheader[1]|format(message.id) }}">
					<img src="system/themes/{{ _user.backendTheme ? _user.backendTheme : 'default' }}/images/header.gif"
						 alt="{{ _lang.orm_avisota_message.editheader[0]|format(message.id) }}"/>
				</a>
				<a href="contao/main.php?do=avisota_newsletter&amp;table=orm_avisota_message_content&amp;id={{ message.id }}"
				   accesskey="b" title="{{ _lang.orm_avisota_message.edit[1]|format(message.id) }}">
					<img src="system/themes/{{ _user.backendTheme ? _user.backendTheme : 'default' }}/images/edit.gif"
						 alt="{{ _lang.orm_avisota_message.edit[0]|format(message.id) }}"/>
				</a>

			</div>
			<table class="tl_header_table" summary="" cellpadding="0" cellspacing="0">
				<tbody>
				<tr class="row_0">
					<td class="col_0"><span class="tl_label">{{ _lang.orm_avisota_message.subject[0] }}</span></td>
					<td class="col_1">{{ message.subject }}</td>
				</tr>
				<tr class="row_1">
					<td class="col_0"><span class="tl_label">{{ _lang.orm_avisota_message.recipients[0] }}</span></td>
					<td class="col_1">{{ message.recipients ? message.recipients.title : '-' }}</td>
				</tr>
				<tr class="row_2">
					<td class="col_0"><span class="tl_label">{{ _lang.orm_avisota_message.layout[0] }}</span></td>
					<td class="col_1">{{ message.layout ? message.layout.title : '-' }}</td>
				</tr>
				<tr class="row_3">
					<td class="col_0"><span class="tl_label">{{ _lang.orm_avisota_message.transport[0] }}</span></td>
					<td class="col_1">{{ message.transport ? message.transport.title : '-' }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	{{ messages() }}

	<form action="system/modules/avisota/web/preview.php" id="avisota_message_preview" target="preview" class="tl_form"
		  method="get">
		<input name="id" value="{{ message.id }}" type="hidden">

		<div class="tl_listing_container preview">
			<iframe class="avisota_message_preview" id="preview" name="preview" scrolling="auto" width="100%"
					height="600"
					src="system/modules/avisota/web/preview.php?id={{ message.id }}"></iframe>
			<br>

			<p class="new_window">
				<a href="system/modules/avisota/web/preview.php?id={{ message.id }}" class="tl_submit"
				   target="_blank">{{ _lang.avisota_message_preview.previewInNewWindow }}</a>
			</p>
		</div>
	</form>

	<form action="system/modules/avisota/web/send.php" id="avisota_message_schedule" class="tl_form"
		  method="get">
		<input name="id" value="{{ message.id }}" type="hidden">
		<input name="REQUEST_TOKEN" value="{{ REQUEST_TOKEN }}" type="hidden">

		<div class="tl_formbody_edit">

			<div class="tl_tbox block">
				<div class="w50">
					<h3>
						<label for="ctrl_recipient_user">{{ _lang.avisota_message_preview.sendPreviewToUser[0] }}</label>
					</h3>
					<select name="recipient_user" id="ctrl_recipient_user" class="tl_select"
							onfocus="Backend.getScrollOffset();">
						{% for user in users %}
							<option value="{{ user.id }}"{% if _user.id == user.id %} selected="selected"{% endif %}>
								{{ user.name }} &lt;{{ user.email }}&gt;
							</option>
						{% endfor %}
					</select>

					<p class="tl_help tl_tip">{{ _lang.avisota_message_preview.sendPreviewToUser[1] }}</p>
				</div>

				{% if _user.isAdmin or _user.hasAccess('send', 'avisota_newsletter_permissions') %}
					<div class="w50">
						<h3>
							<label for="ctrl_recipient_email">{{ _lang.avisota_message_preview.sendPreviewToEmail[0] }}</label>
						</h3>
						<input name="recipient_email" id="ctrl_recipient_email" value="" class="tl_text"
							   onfocus="Backend.getScrollOffset();" type="text"/>

						<p class="tl_help tl_tip">{{ _lang.avisota_message_preview.sendPreviewToEmail[1] }}</p>
					</div>
				{% endif %}

				<div class="clr"></div>
			</div>
		</div>

		<div class="tl_formbody_submit">

			<div class="tl_submit_container">
				<button id="btnPreview" name="action" class="tl_submit" accesskey="p" type="submit" value="preview">
					<img style="display: none;" src="system/modules/avisota/html/loading.gif"
						 alt=""/> {{ _lang.avisota_message_preview.preview }}
				</button>
				{% if _user.isAdmin or _user.hasAccess('send', 'avisota_newsletter_permissions') %}
					<button style="float:right" id="btnSchedule" name="action" class="tl_submit" accesskey="s"
							type="submit"
							value="schedule">
						<img style="display: none;" src="system/modules/avisota/html/loading.gif"
							 alt=""/> {{ _lang.avisota_message_preview.schedule }}
					</button>
				{% endif %}
			</div>

		</div>
	</form>
{% endspaceless %}
<script>
	// add listener to email input field, that disable the user select field
	$('ctrl_recipient_email').addEvent('keyup', function () {
		$('ctrl_recipient_user').disabled = this.value.length > 0;
	});
	// submit listener to form
	$('avisota_message_schedule').addEvent('submit', function () {
		$('avisota_message_schedule').removeEvents('submit').addEvent('submit', function () {
			return false;
		});
	});
	// show the indicator gif of a button
	function indicate(e) {
		e.getElement('img').setStyle('display', '');
	}
	// add listener to preview button
	$('btnPreview').addEvent('click', function () {
		indicate(this);
	});
	{% if _user.isAdmin or _user.hasAccess('send', 'avisota_newsletter_permissions') %}
	// add listener to schedule button
	$('btnSchedule').addEvent('click', function () {
		indicate(this);
	});
	{% endif %}
</script>