{% extends 'mce_container.html5.twig' %}
{% import "mce_macros.html5.twig" as mce %}

{% block content %}
	<tr>
		<td{% if addImage and (floating == 'left' or floating == 'right') %} colspan="2" {% endif %}><h{{ hl }}>{{ headline }}</h{{ hl }}></td>
	</tr>
	{% if addImage and floating == 'above' %}
		<tr>
			<td>{{ mce.image() }}</td>
		</tr>
	{% endif %}
	<tr>
		{% if addImage and floating == 'left' %}<td>{{ mce.image() }}</td>{% endif %}
		<td>{{ text }}</td>
		{% if addImage and floating == 'right' %}<td>{{ mce.image() }}</td>{% endif %}
	</tr>
	{% if addImage and floating == 'below' %}
		<tr>
			<td>{{ mce.image() }}</td>
		</tr>
	{% endif %}
{% endblock %}
