{% extends 'mce_container.html.twig' %}
{% import "mce_macros.html.twig" as mce %}

{% set headline = headline|deserialize(true) %}
{% set hl = headline.unit ? headline.unit : 'h1' %}
{% set headline = headline.value %}

{% block content %}
	{% spaceless %}
		{% if headline %}
			<tr>
				<td{% if addImage and (floating == 'left' or floating == 'right') %} colspan="2" {% endif %}><{{ hl }}>{{ headline }}</{{ hl }}></td>
			</tr>
		{% endif %}
		{% if addImage and floating == 'above' %}
			<tr>
				<td>{{ mce.image() }}</td>
			</tr>
		{% endif %}
		<tr>
			{% if addImage and floating == 'left' %}<td>{{ mce.image() }}</td>{% endif %}
			<td>{{ text }}</td>
			{% if addImage and floating == 'right' %}<td>{{ mce.image() }}</td>{% endif %}
		</tr>
		{% if addImage and floating == 'below' %}
			<tr>
				<td>{{ mce.image() }}</td>
			</tr>
		{% endif %}
	{% endspaceless %}
{% endblock %}
