
<form action="{{ formAction }}" method="post" id="{{ formId }}">
	<div class="formbody">
		<input type="hidden" name="FORM_SUBMIT" value="{{ formId }}"/>
		<input type="hidden" name="REQUEST_TOKEN" value="{{ REQUEST_TOKEN }}"/>

		{% if message %}
			<p class="message {{ messageClass }}">{{ message }}</p>
		{% endif %}

		{% if not hideForm %}
			{% if not tableless %}
			<table cellspacing="0" cellpadding="0" summary="">
				<tbody>
					{% for field in fields %}
						{{ field.parse() }}
					{% endfor %}
				<tr class="{{ rowLast }} row_last">
					<td class="col_0 col_1 col_submit col_first col_last" colspan="2">
						<div class="submit_container">
							<input type="submit" name="subscribe" class="subscribe"
							       value="{{ _lang.avisota_subscription.unsubscribe }}"/>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			{% else %}
			<div class="fields">
				{% for field in fields %}
					{{ field.parse() }}
				{% endfor %}
			</div>
			<div class="submit_container">
				<input type="submit" name="subscribe" class="subscribe"
				       value="{{ _lang.avisota_subscription.unsubscribe }}"/>
			</div>
			{% endif %}
		{% endif %}
	</div>
</form>
